config SHIELD_SENYATYL_LEFT
    def_bool $(shields_list_contains,senyatyl_left)

config SHIELD_SENYATYL_RIGHT
    def_bool $(shields_list_contains,senyatyl_right)

config SHIELD_SENYATYL_RIGHT_NOMOUSE
    def_bool $(shields_list_contains,senyatyl_right_nomouse)

config SHIELD_SENYATYL_RIGHT_COL2ROW
    def_bool $(shields_list_contains,senyatyl_right_col2row)

config SHIELD_SENYATYL_RIGHT_PERIPHERAL
    def_bool $(shields_list_contains,senyatyl_right_peripheral)
