if SHIELD_SENYATYL_RIGHT || SHIELD_SENYATYL_RIGHT_NOMOUSE || SHIELD_SENYATYL_RIGHT_COL2ROW

config ZMK_KEYBOARD_NAME
    default "Senyatyl"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
    default y

endif

if SHIELD_SENYATYL_LEFT || SHIELD_SENYATYL_RIGHT || SHIELD_SENYATYL_RIGHT_NOMOUSE || SHIELD_SENYATYL_RIGHT_COL2ROW || SHIELD_SENYATYL_RIGHT_PERIPHERAL

config ZMK_SPLIT
    default y

endif
